#apppage .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  
  #apppage .view {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #apppage h6 {
    line-height: 1.7;
  }

  .row{
    margin-left: 0;
    margin: auto;
    /* margin-left: 300px; */
  }



  .navbar-brand{
    margin-left: 80px;
  }

  .navbar-nav{
    margin: auto;
  }
  .nav-item{
    margin-left: 160px;
  }

  .equipment{
    margin-left: 20px;
    margin-top: 30px;
  }
  .product-card{
    background-image: url("../images/Mahindra-Tractor-770x433.jpg");
    background-size: cover;
    width: 100%;
    height: 190px;
    border: white;
  }
  .product-card2{
    background-image: url("../images/dasmesh_912_1.jpg");
    background-size: cover;
    width: 100%;
    height: 190px;
  }

  .product-card3{
    background-image: url("../images/hand-sprayer-16-ltr-n-500x500.jpg");
    background-size: cover;
    width: 100%;
    height: 190px;
  }

  .product-card4{
    background-image: url("../images/tillage-build-callout-r4f027200.jpg");
    background-size: cover;
    width: 100%;
    height: 190px;
  }

  .product-card5{
    background-image: url("../images/rollingdice-water-sprinkler.jpg");
    background-size: cover;
    width: 100%;
    height: 190px;
  }

  .product-card6{
    background-image: url("../images/039cc8e8b25545c4d929148366583deb.jpeg");
    background-size: cover;
    width: 100%;
    height: 190px;
  }

  .product-card8{
    background-image: url("/home/saurabh/farmaso/farmaso-project/src/components/images/sss.jpg");
    background-size: cover;
    width: 100%;
    height: 190px;
  }

  .product-card9{
    background-image: url("/home/saurabh/farmaso/farmaso-project/src/components/images/sss.jpg");
    background-size: cover;
    width: 100%;
    height: 190px;
  }
 
  /* .team-height{
    top: 500px;
  } */