.space{
    height: 30px;
}


.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .navbar {
   
    margin-top: auto;
    
  }
  #top-filler {
    margin-bottom: auto;
  }
  
  #nav-container {
    align-items: flex-end;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .form-horizontal{
      /* top: 100px; */
      /* margin: auto; */
      width: 500px;
      margin-top: 50px;
      margin-left: 680px;
      height: 520px;
      align-items: center;
      border: solid #222;
  }

  .form-label{
      margin-left: 190px;
      margin-top: 60px;
  }

  .form-input{
    margin-left: 130px;
    margin-top: 30px;
}

.new{
    margin-top: 30px;
}
/* .btn{
    width: 100px;
    margin-left: 50px;
} */

.btn-primary{
    /* width: 500px; */
    margin-left: 50px;
}
/* 
.col-1{
    width: 100px;
}
.col-mr-auto{
    width: 100px;
} */

.yoo{
    /* border: solid black; */
    margin-top: 50px;
    width: 150px;
    height: 30px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    /* left: 30px; */
}
.view{
    top: -12px;
}
.my-5{
    margin: auto;
    width: 1500px;
}

.row{
    margin-left: 0;
    margin: auto;
    justify-content: center;
    
}